.calendar__container {
  display: flex;
  width: 100%;
  background: #eee;
  padding: 20px;
  box-sizing: border-box;
  height: 100vh;
  font-family: sans-serif;
}

.events__container {
  position: relative;
  flex: 1;
  background: #f8f8f8;
  border-left: 1px solid #ddd;
}

.hour__line,
.half-hour__line {
  position: absolute;
  left: 0;
  right: 0;
}

.hour__line {
  border-top: 1px solid #ccc;
}

.half-hour__line {
  border-top: 1px dashed #ddd;
}
