.calendar__container {
  display: flex;
  gap: 0.8rem;
  max-width: 620px;
  margin: 1rem auto;
  padding: 0 0.4rem;
}

.main__container {
  position: relative;
  flex: 1;
  background: var(--color-background);
  border-left: 1px solid var(--grey-300);
}

.events__container {
  position: relative;
  margin: 0 0.5rem;
}

.time-scale {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hour__line {
  border-top: 1px solid var(--grey-200);
}

.half-hour__line {
  border-top: 1px dashed var(--grey-200);
}
