.event__card {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  overflow: hidden;
  background: var(--grey-000);
  border-left: 4px solid var(--color-primary);
  box-shadow: 0 1px 3px var(--grey-400);
  padding: 0.5rem;
  border-radius: 0.2rem;
}

.event__title {
  margin: 0;
  color: var(--color-primary);
}

.event__description {
  margin: 0;
  font-size: 0.85rem;
  color: var(--grey-800);
}
