.time-column {
  display: flex;
  width: 5rem;
  margin: -0.4rem 0;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.9rem;
}

.time__half {
  font-size: 0.8rem;
}
